.container {
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: gold; */
}

.center {
  display: flex;
  justify-content: center;
}


.scrollContainer {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
}

.maroonCard {
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.05), 0 7px 7px rgba(0, 0, 0, 0.12);
  padding: 0px;
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  min-width: 90vw;
  max-width: 90vw;
}

.shopCard {
  border-radius: 10px;
}

.shopCardBtn {
  border-radius: 10px;
}