
.main {
    min-height: 100vh;
}

.layout {
    background: white;
    background-size: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container {
    height: 91vh;
}

.bottomMenu {
    height: 9vh;
    position: fixed;
    width: 100vw;
    background-color: whitesmoke;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.navItem {
    margin: auto;
    width: 100%;
    margin: auto;
    justify-items: center;
    text-align: center;
    font-size: 4vh;
}
